.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 0px;
}

.box {
  min-width: 0px;
  padding-bottom: 48px;
  padding-top: 16px;
  width: 342px;
}

@media screen and (min-width: 320px) {
  .box {
    width: 342px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .box {
    width: 390px;
    padding-bottom: 64px;
  }
}

@media screen and (min-width: 955px) {
  .box {
    width: 390px;
    padding-bottom: 64px;
  }
}

.iframeStyle {
  aspect-ratio: 0.5625 / 1;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
